<nav class="navBanner customNavBanner pixelated">
<div class="navList">
  <a href="/">HOME</a> 
  <div class="candyCorn"></div>
  <a href="/help">HELP</a> 
  <div class="candyCorn"></div>
  <a href="/map">MAP</a> 
  <div class="sep">|</div> 
  <a href="?p=log">ログ</a> 
  <div class="sep">|</div>
  <a href="/search">SEARCH</a> 
  <div class="candyCorn"></div>
  <a href="/news">NEWS</a> 
  <div class="sep">|</div>
  <a href="https://homestuck.bandcamp.com/">音楽</a> 
  <div class="candyCorn"></div>
  <a href="/evenmore">MORE</a> 
  <div class="sep">|</div>
  <a href="/settings">SETTINGS</a> 
  <div class="sep">|</div>
  <a href="/credits">CREDITS</a>  
</div>
</nav>
